@model IEnumerable<_16hrApp.Models.Day>

@{
    ViewBag.Title = "Home Page";
}

<form>

</form>

<h3 style="color:#DF691A;">What is 16hr?</h3>
<h4>16hr is a Web Application that is based on the idea that people should be getting around 8 hours of sleep a day. 
    It target sleep deprived college students and Employees and helps them to manage their time and stressful 
    routines on a stressfree user-interface.
</h4>

<h3 style="color:#DF691A;">Features</h3>
<h4>Create, Edit, and Delete tasks from your daily routine and see how you are distributing your time on the analytics page. Login and Registration is Required for access</h4>
<br />


